{% extends "layout_fixed.html" %}

{% block content %}

	<div ng-app="angularjsNodejsTutorial" ng-controller="TeamPageController">
		<div class="page-header" >
								
								<div class="row">
									<div class="col-sm-4 col-md-4">
											<h1>
													Build your Team
											</h1>
									</div>
									<div class="col-sm-4 col-md-4">
													<input id="search" type="text" class="form-control" placeholder="Search Players" />
													<div class="space-4"></div>
									</div>
									<div class="col-sm-4 col-md-4">
										<span class="btn btn-app btn-sm btn-yellow no-hover">
														<span class="line-height-1 bigger-170"> [{ availFunds}] </span>

														<br>
														<span class="line-height-1 smaller-90"> Funds </span>
													</span>
									</div>
								</div>
		</div><!-- /.page-header -->

				<div class="row">

					<div class="col-xs-12 col-sm-3 center" ng-repeat="player in selectionList">
											<div>
												<span class="profile-picture">
													<img id="" class="img-responsive" alt="Alex's Avatar" ng-src="[{player.imageLink}]" style="width: 150px; height: 200px;" />
												</span>

												<div class="space-4"></div>

												<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">
														<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
															<span class="white"> [{player.name}] </span>
														</a>
														

													</div>
												</div>

												<div class="space-4"></div>

												<div class="width-80 label label-warning label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">
														
														<a href="#" ng-click="removePlayer($index)" class="user-title-label dropdown-toggle" data-toggle="dropdown">
															<span class="white"> remove </span>
														</a>

													</div>
												</div>




											</div>
					</div>

				</div>
	</div>

						<!-- /.row -->			
		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="/static/ace-master/assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="/static/ace-master/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/static/ace-master/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/static/ace-master/assets/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="/static/ace-master/assets/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="/static/ace-master/assets/js/jquery-ui.custom.min.js"></script>
		<script src="/static/ace-master/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/ace-master/assets/js/jquery.gritter.min.js"></script>
		<script src="/static/ace-master/assets/js/bootbox.js"></script>
		<script src="/static/ace-master/assets/js/jquery.easypiechart.min.js"></script>
		<script src="/static/ace-master/assets/js/bootstrap-datepicker.min.js"></script>
		<script src="/static/ace-master/assets/js/jquery.hotkeys.index.min.js"></script>
		<script src="/static/ace-master/assets/js/bootstrap-wysiwyg.min.js"></script>
		<script src="/static/ace-master/assets/js/select2.min.js"></script>
		<script src="/static/ace-master/assets/js/spinbox.min.js"></script>
		<script src="/static/ace-master/assets/js/bootstrap-editable.min.js"></script>
		<script src="/static/ace-master/assets/js/ace-editable.min.js"></script>
		<script src="/static/ace-master/assets/js/jquery.maskedinput.min.js"></script>
		<script src="/static/ace-master/assets/js/jquery-ui.min.js"></script>
		<script src="/static/ace-master/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>





		<!-- ace scripts -->
		<script src="/static/ace-master/assets/js/ace-elements.min.js"></script>
		<script src="/static/ace-master/assets/js/ace.min.js"></script>

		<script src="/static/angular/services.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">

			app.controller('TeamPageController', ['$scope', function($scope) { 

                $scope.selectionList = [];
                $scope.availFunds = 800;
                $scope.selectionCountMax = 11;
                console.log($scope.tempName);

                $scope.removePlayer = function(index) {
                	console.log("Removing");
                	console.log(index);
                	var playerCost = $scope.selectionList[index]["cost"];
                	$scope.selectionList.splice(index, 1);
                	$scope.availFunds = $scope.availFunds + playerCost;
                	// console.log($scope.selectionList);
                	// $scope.$apply();

                }
                jQuery(function($) {
                
                 //custom autocomplete (category selection)
                 $.widget( "custom.catcomplete", $.ui.autocomplete, {
                     _create: function() {
                         this._super();
                         this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
                     },
                     _renderMenu: function( ul, items ) {
                         var that = this,
                         currentCategory = "";
                         $.each( items, function( index, item ) {
                             var li;
                             if ( item.category != currentCategory ) {
                                 ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
                                 currentCategory = item.category;
                             }
                             li = that._renderItemData( ul, item );
                                 if ( item.category ) {
                                 li.attr( "aria-label", item.category + " : " + item.label );
                             }
                         });
                     }
                 });

                 var data = {{message["playerAutoComplete"] | tojson}};

                 var lookupMap = {{ message["playerInfoList"] | tojson }};

                 var mongoInfo = {{message["allMongo"] | tojson}};

                 console.log(mongoInfo);

                 console.log(lookupMap);
                    
                    

                 console.log(data);

                 $( "#search" ).catcomplete({
                     delay: 0,
                     source: data,
                     select: function(event, ui) { 
                     	 if($scope.selectionList.length > $scope.selectionCountMax) {
                     	 	alert("Team consits of 11 players");
                     	 	return
                     	 }
                     	 var playerCost = 100;
                     	 if($scope.availFunds < playerCost) {
                     	 	alert("Insufficient Funds");
                     	 	return;
                     	 }
                         console.log(ui.item);
                         var i = 0;
                         while(i < $scope.selectionList.length) {
                         	if($scope.selectionList[i].name == ui.item.label) {
                         		alert("Player Already Selected");
                         		return;
                         	}
                         	i =i +  1;
                         }
                         $scope.availFunds = $scope.availFunds - playerCost;
                         playerInfo = {}
                         playerInfo["imageLink"] =  mongoInfo[ui.item.label].imageLink;
                         playerInfo["name"] = ui.item.label;
                         playerInfo["cost"] = playerCost;
                         console.log(playerInfo);
                         $scope.selectionList.push(playerInfo);
                         // console.log($scope.selectionList);
                         $scope.$apply();
                       }
                 });

                                    
                    
                 //////////////////////////////
                 $('#profile-feed-1').ace_scroll({
                     height: '250px',
                     mouseWheelLock: true,
                     alwaysVisible : true
                 });
                            
                 ///////////////////////////////////////////                 
                    
                 /////////////////////////////////////
                 $(document).one('ajaxloadstart.page', function(e) {
                     //in ajax mode, remove remaining elements before leaving page
                     try {
                         $('.editable').editable('destroy');
                     } catch(e) {}
                     $('[class*=select2]').remove();
                 });

                });
        }]);

		
		</script>

{% endblock %}
