{% extends "layout.html" %}

{% block content %}
<div class="page-header">
	<h1>
		Team Page
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<form method="POST">
				<div class="col-sm-8">
					<input id="search" name="team_search" type="text" class="form-control" placeholder="Enter a team name and click Enter!" />
				</div>
			</form>

<!-- 			<div class="col-sm-4">
				<input type="button" id="spotButton" value="Search!">
			</div> -->
		</div>

	</div>

	<br>
	<br>
	<br>


	<div class="hr dotted"></div>

	<div class="label label-info label-xlg arrowed-in arrowed-in-right">
		<div class="inline position-relative">
			<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
				<i class="ace-icon fa fa-circle light-green"></i>
				&nbsp;
				<span class="white">{{ message['team_name'] }}</span>
			</a>

			<ul class="align-left dropdown-menu dropdown-caret dropdown-lighter">
				<li class="dropdown-header"> Change Status </li>

				<li>
					<a href="#">
						<i class="ace-icon fa fa-circle green"></i>
&nbsp;
						<span class="green">Available</span>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="ace-icon fa fa-circle red"></i>
&nbsp;
						<span class="red">Busy</span>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="ace-icon fa fa-circle grey"></i>
&nbsp;
						<span class="grey">Invisible</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12">
		<div>
			<div id="user-profile-1" class="user-profile row">
				<div class="col-xs-12 col-sm-3 center">

					<div class="space-4"></div>

					<span class="profile-picture">
						<img id="team_img" class="editable img-responsive" alt="Alex's Avatar" src= {{ message['img_url'] }} />
					</span>


					<div class="space-6"></div>

				</div>

				<div class="col-xs-12 col-sm-9">

					<div class="widget-box transparent">
						<div class="widget-header widget-header-small">
							<h4 class="widget-title blue smaller">
								{{message['roster_header']}}
							</h4>
							<div class="row">
								<div class="col-xs-2"></div>
								<div class="col-xs-4">Player</div>
								<div class="col-xs-3">Bat Handedness</div>
								<div class="col-xs-3">Bowler Skill</div>
							</div>
						</div>

						<div class="widget-body">
							<div class="widget-main padding-8">
								<div id="profile-feed-1" class="profile-feed">
									{%for i in range(0, len)%}
										<div class="row">

										<div class="col-xs-2">
											<img id="player_image" class="editable img-responsive" alt="Player Avatar" height="30" width="30" src= {{ message['roster'][i][1] }} />
										</div>
										<div class="col-xs-4">{{message['roster'][i][0]}}</div>
										<div class="col-xs-3">{{message['roster'][i][2][0]}}</div>
										<div class="col-xs-3">{{message['roster'][i][2][1]}}</div>
									</div>
									<br>

									{%endfor%}										
								</div>
							</div>
						</div>
					</div>

					<div class="space-12"></div>

					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name"> Fun Fact #1 </div>

							<div class="profile-info-value">
								<span class="editable" id="username">{{message['query 1']}}</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> </div>

							<div class="profile-info-value">
								<span class="editable" id="country">{{message['response 1']}}</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> Fun Fact #2 </div>

							<div class="profile-info-value">
								<span class="editable" id="age">{{message['query 2']}}</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">  </div>

							<div class="profile-info-value">
								<span class="editable" id="signup">{{message['response 2']}}</span>
							</div>
						</div>		
					</div>

					<div class="space-20"></div>

					<div class="hr hr2 hr-double"></div>

					<div class="space-6"></div>
				</div>
			</div>
		</div>
{% endblock %}

